In [48]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import os
import pandas as pd
import scipy.stats as st

In [49]:
# Study data files

mouse_data_path= os.path.join("Resources", "Mouse_metadata.csv")
study_results_path= os.path.join("Resources", "Study_results.csv")

In [50]:
# Read the mouse data and the study results
mouse_metadata= pd.read_csv(mouse_data_path)
study_results= pd.read_csv(study_results_path)
print(mouse_metadata)
print(study_results)

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]
     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [51]:
# Combine the data into a single dataset # Display the data table for preview
mouse_data_merge= pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])
mouse_data_merge.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [52]:
 # Checking the number of mice.
mice_number= mouse_data_merge['Mouse ID'].unique()
mice_number_total=len(mice_number)
mice_number_total

249

In [53]:
mouse_data_merge.duplicated(subset=['Mouse ID', 'Timepoint']).sum()

5